        body{
           background:url(imagens/background_gradiente5.png) no-repeat center center fixed;
           background-size: cover; 
           
        }

        #principal{
                margin:0 auto;
                width: 1050px;
                height: 1260px;
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		
		}
	
	#cabecalho{
            margin: 0 auto;
	    width: 1050px;
	    height: 200px;
            background:url(imagens/topo/topo_comiccents.jpg);
		}
                
        #logo{
            margin-top: -20px;
            margin-left: 15px;
             }        

	#menu_esquerdo{
                float:left;
		color:#000000;
                background-color:#ffffff;
                width:20%;
               
		}
                
                #lateral{
                    height: 1260px;
                }        
		
        #cadastro{
            color: royalblue; 
            text-decoration: underline;
            font-family: Arial;
            font-size: 12px;
        }
           
        #formulario{
            margin-left: 10px;
        }
        
	#conteudo{
	    float:right;
	    width:80%;
            background-color:#ffffff;
            
    	}
	
	#rodape{
		padding-top: 20px;
                float:left;
                width: 100%;
                height: 130px;
                background-color: #ffffff;
		font-size: 11px;
		border-top: solid #000000 1px;
		bottom:0px;
        }
        
        #frame{
           border: 0px;
           height: 100%;
           width:  100%;
        }
        
	#busca{
	float:Right;
	background-color:orange;
	margin-left:5px;
	padding-top:5px;
	padding-right: 10px;
	padding-left: 10px;
        padding-bottom: 5px;
	color: #ffffff;
	border-radius: 8px;
        margin-top: 130px;
	}
        
        #botaobuscar{
            
        }
        

        #menu_topo{            
           margin-top:-3px;
           padding-top: 4px;
           padding-bottom: 3px;
        }
		
       		
        h1{
		background-color: orange;
                font-size: 15px;
                width:100%;
                color:#ffffff;
                font-family: arial;
                text-align: center;
		padding-top:2px;
		padding-bottom:2px;
		margin-bottom:0;
		} 
		
	h1.h1_titulo{
		font-size:20px;
		color: #000000;
		background-color:#ffffff;
		}
		
	span{
		color:#336699;
		font-size:40px;
		height:95px;
		font-family:arial;
		font-weight:bold;
		padding-left:20px;
		padding-top:20px;
		}
		
	div {
		float:left;
		width: 250px;
		height: 250px;
		}
		
		
		
		
		
		
	a:link{color: #000000; 
		text-decoration:none;
		font-family: Arial;
			}
	
	a:visited{color: #000000;
		text-decoration:none;
		font-family: Arial;	
			  }
			  
	a:hover:{color: #000000;
		text-decoration:none;
		font-family: Arial;	
			  }			  			  
			  
	a.link_titulo:link {color: #ffffff;
		text-decoration:none;
		font-family: Arial;	
			  }	
	a.link_titulo:visited {color: #ffffff;
		text-decoration:none;
		font-family: Arial;	
			  }	
	a.link_titulo:hover:{color: #ffffff;
		text-decoration:none;
		font-family: Arial;	
			  }	
		
		
		
		
		
		
		
	ul.nav{
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	}
	
	ul.nav li{
	border: 1pt solid #000000;
	}	
	
	ul.nav li a{
	display:block;
	text-decoration:none;
	padding: 2px;
        padding-left: 10px;
        text-align:left;
	}		
	
	ul.nav li a:hover{
	background-color: yellow;
	color: #000000;
	}